<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ventas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{ style('style') }}
  </head>
  <body>
  
    <div class="container">
    
      <h1 class="title" style="margin-left: 450px;">Repuestos</h1><br>
      <input class="button is-success is-rounded" style="margin-left: 450px;" type="button" value="Regresar" onclick="location.href='http://127.0.0.1:3333'" />
      <input class="button is-success is-rounded" type="button" value="Agregar" onclick="location.href='http://127.0.0.1:3333/repuesto/crear'" />
        <table class="table" style="margin-left: 200px;">
            <tr>
                <th style="width:100px; height: 20px;">Descripcion</th>
                <th style="width:100px; height: 20px;">Costo De Unidad</th>
                <th style="width:100px; height: 20px;">Precio De Unidad</th>
                <th style="width:100px; height: 20px;">Imp Parcial</th>
                <th style="width:100px; height: 20px;">Hoja De Parte</th>
                <th style="width:100px; height: 20px;">Mecanico Responsable</th>
            </tr>
            <ul>
                @each(repuesto in repuesto)
                    <tr>
                        <th style="width:100px; height: 20px;">{{repuesto.descripcion}}</th>
                        <th style="width:100px; height: 20px;">{{repuesto.costounit}}</th>
                        <th style="width:100px; height: 20px;">{{repuesto.preciounit}}</th>
                        <th style="width:100px; height: 20px;">{{repuesto.imp_parcial}}</th>
                        <th style="width:100px; height: 20px;">{{repuesto.hojaparte.concepto}}</th>
                        <th style="width:100px; height: 20px;">{{repuesto.mecanicor.nombre}}</th>
                        <th style="width:100px; height: 20px;"><input class="button is-warning is-rounded" type="button" value="Editar" onclick="location.href='http://127.0.0.1:3333/repuesto/editar/{{repuesto.id}}'"  /></th>
                        <th style="width:100px; height: 20px;"><input class="button is-danger is-rounded" type="button" value="Eliminar" onclick="location.href='http://127.0.0.1:3333/repuesto/eliminar/{{repuesto.id}}'"  /></th>

                    </tr>
                @endeach
            </ul>
        </table>  
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    
  </body>
</html>