<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ventas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{ style('style') }}
  </head>
  <body>
  <section>
    
    <div >
      
      <h1 class="title">
        Modificar Mecanico
      </h1><br><br>
      <form action="http://127.0.0.1:3333/mecanicor/editar/{{mecanicor.id}}" method="POST">
        <div >
          <div>
            <h3 style="color:white">
              Nombre <input class="input is-success is-rounded" name="nombre" value="{{mecanicor.nombre}}" placeholder="Nombre"/>
            </h3><br>
            <h3 style="color:white">
              Direccion <input class="input is-success is-rounded" name="direccion" value="{{mecanicor.direccion}}" placeholder="Direccion"/>
            </h3><br>
            <h3 style="color:white">
              Telefono <input class="input is-success is-rounded" name="telefono" value="{{mecanicor.telefono}}" placeholder="Telefono"/>
            </h3><br>
            <h3 style="color:white">
              Costo X Hora <input class="input is-success is-rounded" name="costoxhora" value="{{mecanicor.costoxhora}}" placeholder="Costo X Hora"/>
            </h3><br>
            <h3 style="color:white">
              Categoria <input class="input is-success is-rounded" name="categoria" value="{{mecanicor.categoria}}" placeholder="Categoria"/>
            </h3><br>
            <input class="button is-success is-rounded" type="button" style="margin-left: 50px;" value="Cancelar" onclick="location.href='http://127.0.0.1:3333/mecanicor'" />
            <input class="button is-success is-rounded" type="submit" value="Guardar" />
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
      </form>
    </div>
  </section>
    
  </body>
</html>